
// Panel & background colors
$background-color: #121212
$surface-color: #303030
$surface-color2: #373737
$surface-color3: #3f3f3f
$surface-color4: #484848

// Primary & accent colors
$primary-color: #BB86FC
$accent-color: #dc42b0
$accent-color-darker: #871e80
$dark-primary-color: #332940
$darkest-primary-color: #1F1A24
$light-color: #FFFFFF
$success-color: #214E34
$error-color: #CF6679

// Text Colors
$primary-text-color: $light-color
$dark-text-color: $background-color
$text-hover-color: $primary-color

// Button colors
$primary-button-color: $primary-color
$secondary-button-color: $dark-primary-color
$secondary-button-color: $surface-color4

// font
$primary-font-family: 'Kanit', sans-serif
$primary-font-size: 1.0vw
$phone-font-size: 2.0vw
$primary-header-font-size: 1.2vw
$phone-header-font-size: 4vw

body
  margin: 0px
  padding: 0px
  background-color: $background-color
  font-family: $primary-font-family
  color: $primary-text-color

.full-center-container
  display: flex
  flex-direction: column
  text-align: center
  align-items: center
  align-content: center
  justify-content: center
  background-color: $background-color
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px

.light-btn
  background-color: $primary-button-color
  color: $dark-text-color
  border: 1px solid $dark-primary-color
  border-radius: 5px
  padding: 5px
  margin: 5px
  cursor: pointer
  &:hover
    background-color: $secondary-button-color
    color: $primary-text-color

h1
  font-family: $primary-font-family
  color: $primary-text-color
  font-size: $primary-header-font-size
  font-size: 2em
  margin: 0px
  padding: 0px

@mixin box-shadow($top, $left, $blur, $size, $color)
  -webkit-box-shadow: $top $left $blur $size $color
  -moz-box-shadow: $top $left $blur $size $color
  box-shadow: $top $left $blur $size $color

.toolbar
  color: $primary-text-color !important
  background-color: $surface-color !important

.home-image
  width: 100% !important

@media only screen and (min-width : 0px) and (max-width: 621px)
  h1
    font-size: $phone-header-font-size
